@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    * {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
    }
    body {
        @apply bg-zinc-100 text-white;
    }
    .prose :where(code):not(:where([class~="not-prose"] *))::before,
    .prose :where(code):not(:where([class~="not-prose"] *))::after {
        content: "";
    }
}